.container {
    height: 100vh;
    min-height: 600px;
    width: 100vw;
    background-color: #2B2D42;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .container input{
    width: 40vw;
    font-size: 2vw;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
  }
  
  .submitButton{
    font-size: 2vw;
    width: 40vw;
    padding: 10px;
  }